<!DOCTYPE html>
<html lang="pt-br">
<link href="login.css" rel="stylesheet">
<head>
    <meta charset="UTF-8" />
    <title>Página de Login</title>   
</head>
<body>

<div id="header">
<header>
    <h1>Login</h1>
</header>
</div>
    <center>
    <div id ="form">
    <form action="/login" method="POST">
        <label for="username"><h2>Usuário:</h2></label>
        <input type="text" id="username" name="username" required /><br /><br />
        <label for="password"><h2>Senha:</h2></label>
        <input type="password" id="password" name="password" required /><br /><br />
        <button type="submit" id="bot"><h3>Entrar</h3></button>
    </form>
    </div>
    </center>

</body>
</html>
